node_modules

# vim temp files
*.swp
*.swo
*.swn
*.swm

# dist files ( built with npm run build )
public/

# vendor bundles ( built with npm run build:vendor )
websack/bundles/

# development script for live reloading
miru-connect.js

# rely on properly configured set package.json
package-lock.json

# mac files
*.DS_Store
