node_modules

# vim temp files
*.swp
*.swo
*.swn
*.swm

# dist files ( built with npm run build )
public/bundle.css
public/bundle.js
public/bundle.min.css
public/bundle.min.js
public/vendor.js
public/vendor.min.js
public/vendor
public/index.html

# development script
public/miru-connect.js

# temp build builds
public/bundle*tmp*

# mac files
*.DS_Store
